<template>
    <transition :name="transition">
        <div v-show="visible">
            <slot></slot>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            index: {type: Number, default: 0}
        },
        computed: {
            transition () {
                if(this.$parent.direction) {
                    return 'slide-' + this.$parent.direction
                }
            },
            visible () {
                return this.index === this.$parent.index
            }
        }
    }
</script>

<style>
 .slide-right-enter-active {
     animation: sildeRightIn 1s;
 }
 .slide-right-leave-active {
     animation: sildeRightOut 1s;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     width: 100%;
 }
 @keyframes sildeRightIn {
     from { transform: translateX(100%); }
     to { transform: translateX(0); }
 }
 @keyframes sildeRightOut {
     from { transform: translateX(0); }
     to { transform: translateX(-100%); }
 }

 .slide-left-enter-active {
     animation: sildeLeftIn 1s;
 }
 .slide-left-leave-active {
     animation: sildeLeftOut 1s;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     width: 100%;
 }
 @keyframes sildeLeftIn {
     from { transform: translateX(-100%); }
     to { transform: translateX(0); }
 }
 @keyframes sildeLeftOut {
     from { transform: translateX(0); }
     to { transform: translateX(100%); }
 }
</style>
