<template>
  <div id="app">
    <carousel>
      <carousel-slide v-for="n in slides" :index="n-1">
        <div style="position: absolute; left: 0; right: 0; text-align: center; top: 50%; color: #FFF; font-size: 16px;">Slide {{ n }}</div>
        <img width="100%" :src="'http://lorempicsum.com/futurama/630/300/' + n">
      </carousel-slide>
    </carousel>
    <button @click="addSlide">Ajouter une slide</button>
    <button @click="removeSlide">Retirer une slide</button>
  </div>
</template>

<script>
import Carousel from './components/carousel/Carousel.vue'
import CarouselSlide from './components/carousel/CarouselSlide.vue'

export default {
  data () {
    return {
      slides: 5
    }
  },
  methods: {
    addSlide () {
      this.slides++
    },
    removeSlide () {
      this.slides--
    }
  },
  components: {
    Carousel,
    CarouselSlide
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
